<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzit.uscdl.common.mapper.admin.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.xzit.uscdl.common.po.admin.Dictionary" >
    <id column="dict_value" property="dictValue" jdbcType="VARCHAR" />
    <result column="dict_name" property="dictName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dict_value, dict_name, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dictionary
    where dict_value = #{dictValue,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dictionary
    where dict_value = #{dictValue,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xzit.uscdl.common.po.admin.Dictionary" >
    insert into dictionary (dict_value, dict_name, remark
      )
    values (#{dictValue,jdbcType=VARCHAR}, #{dictName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xzit.uscdl.common.po.admin.Dictionary" >
    insert into dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dictValue != null" >
        dict_value,
      </if>
      <if test="dictName != null" >
        dict_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dictValue != null" >
        #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null" >
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzit.uscdl.common.po.admin.Dictionary" >
    update dictionary
    <set >
      <if test="dictName != null" >
        dict_name = #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where dict_value = #{dictValue,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzit.uscdl.common.po.admin.Dictionary" >
    update dictionary
    set dict_name = #{dictName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where dict_value = #{dictValue,jdbcType=VARCHAR}
  </update>
</mapper>