<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzit.uscdl.common.mapper.dict.DictionaryDataMapper" >
  <resultMap id="BaseResultMap" type="com.xzit.uscdl.common.po.dict.DictionaryData" >
    <id column="dictdata_id" property="dictdataId" jdbcType="INTEGER" />
    <result column="dictdata_name" property="dictdataName" jdbcType="VARCHAR" />
    <result column="dictdata_value" property="dictdataValue" jdbcType="VARCHAR" />
    <result column="dict_value" property="dictValue" jdbcType="VARCHAR" />
    <result column="is_fixed" property="isFixed" jdbcType="CHAR" />
    <result column="is_cancel" property="isCancel" jdbcType="CHAR" />
    <result column="parent_id" property="parentId" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dictdata_id, dictdata_name, dictdata_value, dict_value, is_fixed, is_cancel, parent_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dictionary_data
    where dictdata_id = #{dictdataId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dictionary_data
    where dictdata_id = #{dictdataId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xzit.uscdl.common.po.dict.DictionaryData" >
    insert into dictionary_data (dictdata_id, dictdata_name, dictdata_value, 
      dict_value, is_fixed, is_cancel, 
      parent_id)
    values (#{dictdataId,jdbcType=INTEGER}, #{dictdataName,jdbcType=VARCHAR}, #{dictdataValue,jdbcType=VARCHAR}, 
      #{dictValue,jdbcType=VARCHAR}, #{isFixed,jdbcType=CHAR}, #{isCancel,jdbcType=CHAR}, 
      #{parentId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xzit.uscdl.common.po.dict.DictionaryData" >
    insert into dictionary_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dictdataId != null" >
        dictdata_id,
      </if>
      <if test="dictdataName != null" >
        dictdata_name,
      </if>
      <if test="dictdataValue != null" >
        dictdata_value,
      </if>
      <if test="dictValue != null" >
        dict_value,
      </if>
      <if test="isFixed != null" >
        is_fixed,
      </if>
      <if test="isCancel != null" >
        is_cancel,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dictdataId != null" >
        #{dictdataId,jdbcType=INTEGER},
      </if>
      <if test="dictdataName != null" >
        #{dictdataName,jdbcType=VARCHAR},
      </if>
      <if test="dictdataValue != null" >
        #{dictdataValue,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null" >
        #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="isFixed != null" >
        #{isFixed,jdbcType=CHAR},
      </if>
      <if test="isCancel != null" >
        #{isCancel,jdbcType=CHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzit.uscdl.common.po.dict.DictionaryData" >
    update dictionary_data
    <set >
      <if test="dictdataName != null" >
        dictdata_name = #{dictdataName,jdbcType=VARCHAR},
      </if>
      <if test="dictdataValue != null" >
        dictdata_value = #{dictdataValue,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null" >
        dict_value = #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="isFixed != null" >
        is_fixed = #{isFixed,jdbcType=CHAR},
      </if>
      <if test="isCancel != null" >
        is_cancel = #{isCancel,jdbcType=CHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=CHAR},
      </if>
    </set>
    where dictdata_id = #{dictdataId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzit.uscdl.common.po.dict.DictionaryData" >
    update dictionary_data
    set dictdata_name = #{dictdataName,jdbcType=VARCHAR},
      dictdata_value = #{dictdataValue,jdbcType=VARCHAR},
      dict_value = #{dictValue,jdbcType=VARCHAR},
      is_fixed = #{isFixed,jdbcType=CHAR},
      is_cancel = #{isCancel,jdbcType=CHAR},
      parent_id = #{parentId,jdbcType=CHAR}
    where dictdata_id = #{dictdataId,jdbcType=INTEGER}
  </update>
</mapper>