<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzit.uscdl.common.mapper.user.UserInstituteMapper" >
  <resultMap id="BaseResultMap" type="com.xzit.uscdl.common.po.user.UserInstitute" >
    <id column="insti_id" property="instiId" jdbcType="INTEGER" />
    <result column="college_id" property="collegeId" jdbcType="INTEGER" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="edu_sys" property="eduSys" jdbcType="CHAR" />
    <result column="admission_time" property="admissionTime" jdbcType="DATE" />
    <result column="graduate_time" property="graduateTime" jdbcType="DATE" />
    <result column="stu_number" property="stuNumber" jdbcType="VARCHAR" />
    <result column="stu_image_path" property="stuImagePath" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    insti_id, college_id, department, major, edu_sys, admission_time, graduate_time, 
    stu_number, stu_image_path, user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_institute
    where insti_id = #{instiId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_institute
    where insti_id = #{instiId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xzit.uscdl.common.po.user.UserInstitute" >
    insert into user_institute (insti_id, college_id, department, 
      major, edu_sys, admission_time, 
      graduate_time, stu_number, stu_image_path, 
      user_id)
    values (#{instiId,jdbcType=INTEGER}, #{collegeId,jdbcType=INTEGER}, #{department,jdbcType=VARCHAR}, 
      #{major,jdbcType=VARCHAR}, #{eduSys,jdbcType=CHAR}, #{admissionTime,jdbcType=DATE}, 
      #{graduateTime,jdbcType=DATE}, #{stuNumber,jdbcType=VARCHAR}, #{stuImagePath,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xzit.uscdl.common.po.user.UserInstitute" >
    insert into user_institute
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="instiId != null" >
        insti_id,
      </if>
      <if test="collegeId != null" >
        college_id,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="eduSys != null" >
        edu_sys,
      </if>
      <if test="admissionTime != null" >
        admission_time,
      </if>
      <if test="graduateTime != null" >
        graduate_time,
      </if>
      <if test="stuNumber != null" >
        stu_number,
      </if>
      <if test="stuImagePath != null" >
        stu_image_path,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="instiId != null" >
        #{instiId,jdbcType=INTEGER},
      </if>
      <if test="collegeId != null" >
        #{collegeId,jdbcType=INTEGER},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="eduSys != null" >
        #{eduSys,jdbcType=CHAR},
      </if>
      <if test="admissionTime != null" >
        #{admissionTime,jdbcType=DATE},
      </if>
      <if test="graduateTime != null" >
        #{graduateTime,jdbcType=DATE},
      </if>
      <if test="stuNumber != null" >
        #{stuNumber,jdbcType=VARCHAR},
      </if>
      <if test="stuImagePath != null" >
        #{stuImagePath,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzit.uscdl.common.po.user.UserInstitute" >
    update user_institute
    <set >
      <if test="collegeId != null" >
        college_id = #{collegeId,jdbcType=INTEGER},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="eduSys != null" >
        edu_sys = #{eduSys,jdbcType=CHAR},
      </if>
      <if test="admissionTime != null" >
        admission_time = #{admissionTime,jdbcType=DATE},
      </if>
      <if test="graduateTime != null" >
        graduate_time = #{graduateTime,jdbcType=DATE},
      </if>
      <if test="stuNumber != null" >
        stu_number = #{stuNumber,jdbcType=VARCHAR},
      </if>
      <if test="stuImagePath != null" >
        stu_image_path = #{stuImagePath,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where insti_id = #{instiId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzit.uscdl.common.po.user.UserInstitute" >
    update user_institute
    set college_id = #{collegeId,jdbcType=INTEGER},
      department = #{department,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      edu_sys = #{eduSys,jdbcType=CHAR},
      admission_time = #{admissionTime,jdbcType=DATE},
      graduate_time = #{graduateTime,jdbcType=DATE},
      stu_number = #{stuNumber,jdbcType=VARCHAR},
      stu_image_path = #{stuImagePath,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER}
    where insti_id = #{instiId,jdbcType=INTEGER}
  </update>
</mapper>